[submodule "Submodule1"]
	path = Submodule1
	url = https://github.com/Pavan-Chaithanya/Submodule1.git
[submodule "Submodule2"]
	path = Submodule2
	url = https://github.com/Pavan-Chaithanya/Submodule2.git
	branch = bug-fix
